certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
Distance==0.1.3
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.9.0
g2p-en==2.1.0
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.10
inflect==7.4.0
jieba==0.42.1
joblib==1.4.2
more-itertools==10.5.0
mpmath==1.3.0
nltk==3.9.1
numpy==2.0.2
onnxruntime==1.19.2
openvino-telemetry==2024.1.0
packaging==24.1
proces==0.1.7
protobuf==5.28.2
pycparser==2.22
pypinyin==0.53.0
pyreadline3==3.5.4
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
sympy==1.13.3
tokenizers==0.20.0
typeguard==4.3.0
typing_extensions==4.12.2
urllib3==2.2.3
